<%- include('partials/header'); -%>

<header>
  <div class="topic">
    <img src="/iitg1.jpg" alt="">
  </div>
  <div class="headings">
    <h2 style="text-align:center;">Interview Website Tracking</h2>
    <h3>Coding Club </h3>
    <a href="/topic" class="btn">Start</a>
    <a href="/experience" class="btn">Interview Experience</a>
  </div>
</header>


<%- include('partials/footer'); -%>